@import url('https://googleapis.com');

body {
    background-color: #F5F5F5; /* You can use color names, HEX, or RGB */
    .fixed-width-container { width: 1000px; }
    .center-container {
         text-align: center;
    }

    .left-text { text-align: left; }


    img {
        display: block;
        margin: 0 auto;
    }

    a {
        color: black;
    }

    font-family: 'Verdana', sans-serif;

    .thick-line {
        height: 20px;            /* This determines the thickness */
        background-color: #E5E5E5; /* This determines the color */
        width: 100%;             /* This makes it span across the container */
    }


    .flex-container {
         display: flex; /* Aligns children side by side */
    }

    .sidebar {
        flex: 0 0 20%; /* Fixed at 30% width */
    }

    .main-content {
        flex: 1; /* Automatically fills the remaining 70% space */
    }


    .container {
        display: flex;
        width: 100%;
        height: 800px; /* Adjust height as needed */
        align-items: stretch; /* Ensures everything is the same height */
    }

    .box {
        flex: 1; /* Makes both divs equal width */
    }

    .divider {
        width: 20px; /* Thickness of the vertical line */
        background-color: #E5E5E5; /* Color of the line */
    }


    .containerV {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .boxV {
        flex: 1; 
        width: 100%;
        border-width: 50px;
        border-style: solid; /* Required for the border to show */
    }

}